*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.row .sa{
 height: 211px;
}

.backg{
    background-color: #a6dcef;
}
footer {
    padding-top: 20px;
    padding-bottom: 20px;
}
 footer p{
     margin-bottom: 0;
 }